input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #3399ff;
  box-shadow: 0 1px 0 0 #3399ff;
}

::placeholder {
  font-size: 1.5rem;
}

.errMessage {
  color: #ed2c09;
}

.btn-flat:hover {
  background-color: #3399ff;
  color: #ffffff;
}

.slide-out {
  animation: slide-out 0.5s linear;
  -webkit-animation: slide-out 0.5s linear 0.001s;
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}